build/*
*/build/*
*.tar.*
.idea/*
*/.idea/*
.metadata/*
.settings/org.eclipse*
*.bak
*.save
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
