SHUTDOWN_LINE_PER_RACK=false;
LOOP1_FLOW_RATE=30;
LOOP2_FLOW_RATE=30;
STOP_LOOP_ON_LOW_FLOW=false;
PUMP_PURGE_TIME_SECONDS=120;
NIGHT_MODE_ENABLED=false;
AIRVENTING_PROC_ON=false;          
AIRVENTING_ON_POWER=false;                   
//

STOP_LOOP_ON_REMOTE_OFF_1=true;
STOP_LOOP_ON_REMOTE_OFF_2=true;   
//
STOP_ON_LEAK=true;
//
// LOOP 1
//
LOOP1_ACTIVE=true; 
STOP_LOOP_ON_ACCESSORY_SHUTDOWN_1=true;
STOP_LOOP_ON_EXCHANGE_PRESSURE_1=false;
STOP_LOOP_ON_FILTER_PRESSURE_1=false;
//
// LOOP 2
//
LOOP2_ACTIVE=true;
STOP_LOOP_ON_ACCESSORY_SHUTDOWN_2=true;
STOP_LOOP_ON_EXCHANGE_PRESSURE_2=false;
STOP_LOOP_ON_FILTER_PRESSURE_2=false;
//
LIQUID_TO_AIR_EXCHANGE_PRESENT=false;
// 
SKIP_PUMP_REGULATION_AFTER_START=false;
//
// COLD START
//
COLD_START_ENABLED=false;
// This temperature that will start Algorithm if
// reservoir temperature is below it.
COLD_START_TRIGGER_TEMP=30;
// This is the time in seconds to wait for reservoir
// To reach INITTIAL WARMUP TIME before turning Pumps On or abort
COLD_START_PREHEAT_TIME_SEC= 60;
// This is the time in seconds to wait for reservoir
// To reach INITTIAL WARMUP TIME  while the pumps are on
BOOSTER_PREHEAT_TIME_SEC=3600;
PRE_HEAT_DELAY_SEC=2;
INITIAL_WARMUP_TEMP=12;   
//  This is the reservoir Temperature safe to turn Pumps On
PUMP_TEMP_OPER_LIMIT=5;
